
    <!-- Navbar content
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add New Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Edit</a>
            </li>            
          </ul>
    </nav> -->

    <!-- Header -->
    <div class="container text-center py-5">
        <div class="single-col-max mx-auto">            
            <h1 class="hero-heading mb-5">
                <span class="brand mb-4 d-block"><span class="text-highlight pr-2"></span><span class="name">Products</span><span class="text-highlight pl-2"></span></span>
                <span class="desc d-block">Toys & Games</span>
            </h1>
        </div><!--//single-col-max-->
    </div><!--//container-->


<div class="row">
  <a class="btn btn-outline-success btn-lg ml-5 mb-5 col-md-4" [routerLink]="['/create']" >Agregar</a>
</div>

<!-- List of Products-->
<table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Price</th>
        <th scope="col">Company</th>
        <th scope="col">Type</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.ageRestriction}}</td>
        <td>{{item.price}}</td>
        <td>{{item.company}}</td>
        <td>{{item.productType.name}}</td>
        <td>
            <a *ngIf="!confirmDeletion" class="btn btn-outline-success" [routerLink]="['/edit', item.id]" >Update</a>
            <!-- <button class="btn btn-outline-primary" [routerLink]="['/create', item.id]">Update</button>             -->
        </td>
        <td>
            <button *ngIf="!confirmDeletion" class="btn btn-outline-danger" (click)="setConfirm(true, item.id)">Delete</button>
            <p *ngIf="confirmDeletion && id == item.id">
                <button  class="btn btn-outline-danger mr-3" (click)="deleteProduct(item.id)">Confirm You Want to Delete</button>
                <button  class="btn btn-outline-secondary mr-3" (click)="setConfirm(false, item.id)">Cancel</button>
            </p>
            
        </td>
        
      </tr>      
    </tbody>
  </table>
<!-- End List of Products-->