<div class="jumbotron col-md-12">
    <!-- Header -->

    <div class="single-col-max text-center">            
        <h1 class="hero-heading mb-5">
            <span class="brand mb-4 d-block"><span class="text-highlight pr-2"></span><span class="name">Edit your Product</span><span class="text-highlight pl-2"></span></span>
            <span class="desc d-block">Toys & Games</span>
        </h1>
    </div><!--//single-col-max-->
    
    <form #productForm="ngForm" (ngSubmit)="updateProduct(productForm)">
        <div class="col-md-8">
            <div class="form-group ">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control col-md-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name"
                name="Name" #Name="ngModel" [(ngModel)]="productToEdit.Name" required>
                <span class="form_error text-danger" *ngIf="Name.touched && !Name.valid"> 
                    Name is required.
                </span>
            </div>

            <div class="form-group">
                <select class="custom-select col-md-6" name="type" #type="ngModel" [(ngModel)]="productToEdit.ProductTypeId">
                    <option >Select Category</option>
                    <option *ngFor="let type of productTypes" [value]="type.id">{{type.name}}</option>
                  </select>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Price</label>
                <input type="text" class="form-control col-md-3" id="exampleInputPassword1" placeholder="12.5"
                name="Price" #Price="ngModel" [(ngModel)]="productToEdit.Price" required min="0" max="1000">
                <span class="form_error text-danger" *ngIf="Price.touched && !Price.valid"> 
                    Price is required and have to be between $0 and $1000
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Company</label>
                <input type="text" class="form-control col-md-6" id="exampleInputPassword1" placeholder="US"
                name="Company" #Company="ngModel" [(ngModel)]="productToEdit.Company" required maxlength="50">
                <span class="form_error text-danger" *ngIf="Company.touched && !Company.valid"> 
                    Company´s name is required.
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Maximum Age</label>
                <input type="number" class="form-control col-md-3" id="exampleInputPassword1" placeholder="1"
                name="AgeRestriction" #AgeRestriction="ngModel" [(ngModel)]="productToEdit.AgeRestriction" min="5" max="100">
                <span class="form_error text-danger" *ngIf="AgeRestriction.touched && !AgeRestriction.valid"> 
                    You need to specify the Max age for this product.
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control col-md-6" id="exampleInputPassword1" placeholder="Set a description"
                name="Description" #Description="ngModel" [(ngModel)]="productToEdit.Description" maxlength="100"></textarea>
                <span class="form_error text-danger" *ngIf="Description.touched && !Description.valid"> 
                    Description can not be more than 100 characters.
                </span>
            </div>
              <button type="submit" class="btn btn-outline-primary mr-3" [disabled]="!productForm.form.valid">Save</button>
              <button class="btn btn-outline-danger mr-3" [routerLink]="['/products']" >Cancel</button>
        </div>    
    </form>
    
</div>
